html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	background-color: #FCF2E6;
	overflow-x: hidden;
}

#search-div{
	background-color: #FCF2E6;
	height: 100%;
	width: 100%;
	padding: 15px 0px 15px 15%;
	font-size: 36px;
	color: #0E0021;
	font-weight: bold;
}

#search{
	font-size: 36px;
	color: #0E0021;
	margin-top: 20%;
	background: transparent;
    border: none;
    width: 500px;
}

.fa-search{
	color: #0E0021;
}

#search:focus{
	outline: none;
}

.result{
	margin: 20px 15% 20px 15%;
	background-color: #0E0021;
	color: #FCF2E6;
	border-radius: 2px;
	padding: 25px;
}
a{
	text-decoration: none;
	color: #FF9009;
}