html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	background-color: #C1E1A6;
}

#search-div{
	background-color: #585858;
	height: 100%;
	width: 100%;
	padding: 15px 0px 15px 25px;
}

#search{
	font-size: 30px;
	color: #FFF;
	margin-top: 20%;
	background: transparent;
    border: none;
    width: 500px;
}

#search:focus{
	outline: none;
	border-bottom: solid;
	border-bottom-color: #FFF;
	border-bottom-width: thin;
}

.result{
	margin: 20px 25px 20px 25px;
	background-color: white;
	border-radius: 10px;
	padding: 5px;
}
a .result{
	text-decoration: none;
	color: #FF9009;
}